<div class="analytics-cards">
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>Reservas hoy</mat-card-title>
      <mat-card-subtitle>24</mat-card-subtitle>
    </mat-card-header>
  </mat-card>

  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>Ingresos</mat-card-title>
      <mat-card-subtitle>1250</mat-card-subtitle>
    </mat-card-header>
  </mat-card>

  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>Ocupación</mat-card-title>
      <mat-card-subtitle>85%</mat-card-subtitle>
    </mat-card-header>
  </mat-card>

  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>Calificación</mat-card-title>
      <mat-card-subtitle>4.8</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</div>
